.about-title{
    font-size: 65px;
    margin: 25px;
    margin-top: 5%;
    margin-bottom: 8%;
    border-top: 2px solid red;
}

.line {
    display: block; 
    width: auto; 
    margin-left: 5%; 
    margin-right: 2%;
    margin-bottom: -1%;
    text-align: left;
  }

    .line1  {
    margin-left:2%;
    margin-bottom: 5%;
  }

  .line2 {
    margin-left: 5%;
    margin-bottom: 1.5%;
  }

  .line3 {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .line4 {
    margin-left: 8%;
    margin-bottom: 1.5%;
  }
  .line5 {
    margin-left: 8%;
    margin-bottom: 1.5%;
  }
  .line6 {
    margin-left: 8%;
    margin-bottom: 5%;
  }
  .line7 {
    margin-left: 12%;
    margin-bottom: 1.5%;
  }
  .line8 {
    margin-left: 12%;
    margin-bottom: 12%;
  }