.about-title{
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 8%;
}

.line {
    display: block; 
    width: auto; 
    margin-left: 5%; 
    margin-right: 2%;
    margin-bottom: -1%;
    text-align: left; 
  }
  .line1  {
    margin-left:2%;
    margin-bottom: 5%;
  }

  .line2 {
    margin-left: 5%;
    margin-bottom: 1.5%;
  }

  .line3 {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .line4 {
    margin-left: 8%;
    margin-bottom: 1.5%;
  }
  .line5 {
    margin-left: 8%;
    margin-bottom: 1.5%;
  }
  .line6 {
    margin-left: 8%;
    margin-bottom: 5%;
  }
  .line7 {
    margin-left: 12%;
    margin-bottom: 1.5%;
  }
  .line8 {
    margin-left: 12%;
    margin-bottom: 10%;
  }
  

/*
  .line1  {
    margin-left: 10%;
    margin-bottom: 5%;
  }

  .line2 {
    margin-left: 15%;
    margin-bottom: 2%;
  }

  .line3 {
    margin-left: 15%;
    margin-bottom: 10%;
  }
  .line4 {
    margin-left: 3%;
    margin-bottom: -0.5%;
  }
  .line5 {
    margin-left: 3%;
    margin-bottom: 1%;
  }
  .line6 {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 6%;
  }
  .line7 {
    margin-left: 20%;
    margin-bottom: 2%;
  }
  .line8 {
    margin-left: 20%;
    margin-bottom: -1%;
  }
  */