.contact-title{
    font-size: 85px;
    margin-top: 5%;
    margin: 25px;
    border-top: 2px solid blue;
    text-align: left;
}

.link-container{
    margin-top: 15%;
    margin-bottom: 25%;
}

.email-link,
.linkedin-link,
.github-link,
.resume-link{
    display: block; /* Display each link on its own line */
    color: blue; /* Set link color */
    margin-bottom: 10px;
}