body {
  margin: 0;
}

.projects-header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.28);
    backdrop-filter: blur(16px);
    width: 80px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    border-radius: 50%;
    top: 20px; /* Adjust position from top */
    left: 20px; /* Adjust position from left */
}

.home-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-link {
    color: white;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}


.header-container {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(51, 51, 51, 0.28); /* Use rgba for transparency */
  backdrop-filter: blur(16px);
  padding: 30px 1.5%; 
  color: white; /* Text color */
  margin-top: 1.5%;
  border-radius: 100px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);

  .brand {
      flex: 0.2; /* Adjust the flex value to control the width of the name section */
      padding-top: 0.4%;
  }

  .title {
      text-decoration: none;
      color: white; /* Text color for the name */
      font-size: 18px; /* Adjust font size as needed */
      margin-top: 2px;
      margin-left: 7%;
      white-space: nowrap;
      cursor: pointer;
  }

  nav {
      display: flex;
      align-items: flex-end;
      gap: 20px; /* Adjust spacing between links */
      flex: 0.21;
      padding-right: 2%;

      .about-link,
      .contact-link {
          padding-top: 1%;
          text-decoration: none;
          padding: 5px;
          color: white; /* Text color for links */
          position: relative; /* Add position relative for absolute positioning of the underline */
          cursor: pointer;

          &:hover {
              text-decoration: underline; /* Underline on hover */
          }
      }
      .projects-link {
        padding-top: 1%;
        text-decoration: none;
        padding: 5px;
        color: white; /* Text color for links */
        position: relative; /* Add position relative for absolute positioning of the underline */
        cursor: pointer;
        border: 1px solid white;
        border-radius: 20px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.28);
                color: white;
                border: 1px solid white;
            }
      }
  }

  .active {
      font-weight: bold; /* Style for active link */
      text-decoration: underline;
  }
}


  